.page-catalog-container {
  @apply p-6 w-60 sticky z-10 top-16 hidden overflow-y-auto h-full;
  @apply lg:block;
  @apply border-solid;
  border-color: var(--page-catalog-container-border-color);
  border-left-width: 1px;

  /* h2::before{
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;
    border-top-width: 1px;
    border-style: solid;
    border-color: rgba(200, 200, 200, .32);
}
h2:is(.dark *)::before{
    border-color: rgba(82, 82, 89, .32);
} */
  .tip {
    @apply mt-0 pt-0 font-semibold;
  }

  h5.tip {
    @apply mb-0;
  }

  ul {
    @apply list-none pl-0;

    li {
      span {
        @apply w-full text-ellipsis overflow-hidden text-nowrap;
      }
    }

    .page-catalog-menu-depth_2 {
      @apply py-4 font-normal text-sm;
      @apply border-basic-top border-dashed;
      &.active,
      &:hover {
        .page-catalog-item {
          @apply text-reco-primary;
        }
      }
    }

    .page-catalog-menu-depth_3 {
      @apply pl-2 py-2 relative text-xs transition-all duration-500;
      span {
        @apply text-lighter;
      }
      &::before {
        @apply absolute inset-y-0 left-2 m-auto block w-0 h-0 rounded-1/2 transition-all duration-500;
        @apply bg-reco-primary;
        content: '';
      }
      &:hover {
        .page-catalog-item {
          @apply text-reco-primary;
        }
      }
      &.active {
        @apply pl-5;
        span {
          @apply text-reco-primary;
        }
        &::before {
          @apply w-1 h-1;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .page-catalog-container {
    max-height: calc(100vh - 4rem);
  }
}
